@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 14% 11%;
    --foreground: 200 20% 90%;

    --card: 210 18% 14%;
    --card-foreground: 200 20% 90%;

    --popover: 210 18% 16%;
    --popover-foreground: 200 20% 90%;

    --primary: 198 93% 60%;
    --primary-foreground: 210 14% 11%;

    --secondary: 207 26% 28%;
    --secondary-foreground: 200 20% 90%;

    --muted: 210 18% 20%;
    --muted-foreground: 200 10% 60%;

    --accent: 198 93% 60%;
    --accent-foreground: 210 14% 11%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 200 20% 90%;

    --border: 210 18% 20%;
    --input: 210 18% 20%;
    --ring: 198 93% 60%;

    --radius: 0.25rem;

    --sidebar-background: 210 18% 12%;
    --sidebar-foreground: 200 20% 90%;
    --sidebar-primary: 198 93% 60%;
    --sidebar-primary-foreground: 210 14% 11%;
    --sidebar-accent: 210 18% 18%;
    --sidebar-accent-foreground: 200 20% 90%;
    --sidebar-border: 210 18% 18%;
    --sidebar-ring: 198 93% 60%;
  }

  .dark {
    --background: 210 14% 11%;
    --foreground: 200 20% 90%;

    --card: 210 18% 14%;
    --card-foreground: 200 20% 90%;

    --popover: 210 18% 16%;
    --popover-foreground: 200 20% 90%;

    --primary: 198 93% 60%;
    --primary-foreground: 210 14% 11%;

    --secondary: 207 26% 28%;
    --secondary-foreground: 200 20% 90%;

    --muted: 210 18% 20%;
    --muted-foreground: 200 10% 60%;

    --accent: 198 93% 60%;
    --accent-foreground: 210 14% 11%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 200 20% 90%;

    --border: 210 18% 20%;
    --input: 210 18% 20%;
    --ring: 198 93% 60%;
    --sidebar-background: 210 18% 12%;
    --sidebar-foreground: 200 20% 90%;
    --sidebar-primary: 198 93% 60%;
    --sidebar-primary-foreground: 210 14% 11%;
    --sidebar-accent: 210 18% 18%;
    --sidebar-accent-foreground: 200 20% 90%;
    --sidebar-border: 210 18% 18%;
    --sidebar-ring: 198 93% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", Arial, sans-serif;
}
